#controls-wrapper
{
	bottom: 0px;
	height: 42px;
	left: 0;
	margin: 0 auto;
	position: fixed;
	width: 100%;
	z-index: 4;
}
#controls
{
	height: 100%;
	overflow: hidden;
	position: relative;
	text-align: left;
	z-index: 5;
}
#slidecounter
{
	color: #999;
	float: left;
	font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 42px;
	margin: 0px 10px 0 15px;
	text-shadow: #000 0 -1px 0;
}
#slidecaption
{
	bottom: 40%;
	color: #fff;
	display: block;
	left: 65px;
	margin: 0;
	position: absolute;
	z-index: -1;
}
.slideshow_title {
	color: #fff;
	display: block;
	font-family: 'Berkshire Swash', cursive;
	font-size: 72px;
	font-weight: 800;
	letter-spacing: -3px;
	margin: 0;
	margin-left: 0px;
	padding: 40px 0 50px 0;
	position: relative;
	text-shadow: 2px 2px 2px rgba(0,0,0,0.8);
}
.slideshow_caption {
	background: #000;
	color: #fff;
	display: block;
	display: inline-block;
	font-family: 'Open Sans', sans-serif;
	font-size: 11px;
	font-weight: 600;
	letter-spacing: 1px;
	line-height: 22px;
	margin: 0;
	margin-left: 0px;
	padding: 10px 20px;
	position: relative;
	text-shadow: 1px 1px 1px #000;
	text-transform: uppercase;
}
.slideshow_caption a {
	color:#fff;
	text-decoration:underline;
	}
#navigation
{
	float: right;
	margin: 0px 20px 0 0;
}
#play-button
{
	float: right;
	margin-top: 1px;
	opacity: 0.6;
}
#play-button:hover
{
	background-position: 0 1px;
	cursor: pointer;
	opacity: 1;
}
.super-navigation
{
	bottom: 45%;
	height: 92px;
	position: fixed;
	right: 0;
	width: 66px;
}
#prevslide, #nextslide
{
	background-color: #8f1018;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	height: 47px;
	opacity: 0.8;
	position: absolute;
	width: 66px;
}
#prevslide
{
	background-image: url(../../images/supersized/arrow_left.png);
	bottom: 0;
	right: 0;
}
#nextslide
{
	background-image: url(../../images/supersized/arrow_right.png);
	bottom: 47px;
	right: 0;
}
#prevslide:active, #nextslide:active
{
}
#prevslide:hover, #nextslide:hover
{
	cursor: pointer;
}
ul#slide-list
{
	float: left;
	left: 50%;
	padding: 15px 0;
	position: absolute;
}
ul#slide-list li
{
	float: left;
	height: 12px;
	list-style: none;
	margin: 0 5px 0 0;
	width: 12px;
}
ul#slide-list li.current-slide a, ul#slide-list li.current-slide a:hover
{
	background-position: 0 0px;
}
ul#slide-list li a
{
	background: url('../../images/supersized/nav-dot.png') no-repeat 0 -24px;
	display: block;
	height: 12px;
	width: 12px;
}
ul#slide-list li a:hover
{
	background-position: 0 -12px;
	cursor: pointer;
}
#tray-button
{
	float: right;
	margin-right: 50px;
	opacity: 0.6;
}
#tray-button:hover
{
	background-position: 0 1px;
	cursor: pointer;
	opacity: 1;
}
#progress-back
{
	background: url('../../images/supersized/progress-back.png') repeat-x;
	bottom: 42px;
	height: 4px;
	left: 0;
	position: fixed;
	width: 100%;
	z-index: 5;
}
#progress-bar
{
	background:#8f1018;
	background: linear-gradient(left, rgba(0,0,0,0) 0%,rgba(143,16,24,0.65) 100%);
	background: -moz-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(143,16,24,0.65) 100%);
	background: -ms-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(143,16,24,0.65) 100%);
	background: -o-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(143,16,24,0.65) 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(143,16,24,0.65)));
	background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(143,16,24,0.65) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a68f1018',GradientType=1 );
	height: 4px;
	position: relative;
	width: 100%;
}
#nextthumb,#prevthumb
{
	background: #ddd;
	border: 1px solid #fff;
	bottom: 61px;
	display: none;
	height: 75px;
	overflow: hidden;
	position: fixed;
	webkit-box-shadow: 0 0 5px #000;
	width: 100px;
	z-index: 2;
}
#nextthumb
{
	right: 12px;
}
#prevthumb
{
	left: 12px;
}
#nextthumb img, #prevthumb img
{
	height: auto;
	width: 150px;
}
#nextthumb:active, #prevthumb:active
{
	bottom: 59px;
}
#nextthumb:hover, #prevthumb:hover
{
	cursor: pointer;
}
#thumb-tray
{
	bottom: 0;
	height: 160px;
	left: 0;
	overflow: hidden;
	position: fixed;
	text-align: center;
	width: 100%;
	z-index: 3;
}
#thumb-back, #thumb-forward
{
	bottom: 42px;
	height: 108px;
	position: absolute;
	width: 40px;
	z-index: 5;
}
#thumb-back
{
	background: url('../../images/supersized/thumb-back.png') no-repeat center center;
	left: 0;
}
#thumb-forward
{
	background: url('../../images/supersized/thumb-forward.png') no-repeat center center;
	right: 0;
}
#thumb-back:hover, #thumb-forward:hover
{
	background-color: rgba(256,256,256, 0.1);
	cursor: pointer;
}
#thumb-back:hover
{
	border-right: 1px solid rgba(256,256,256, 0.2);
}
#thumb-forward:hover
{
	border-left: 1px solid rgba(256,256,256, 0.2);
}
ul#thumb-list
{
	display: inline-block;
	left: 0px;
	list-style: none;
	padding: 0 0px;
	position: relative;
}
ul#thumb-list li
{
	
	display: inline;
	float: left;
	list-style: none;
	margin: 0;
	margin-right: 5px;
	margin-top: 8px;
	overflow: hidden;
	width: 60px;
	height: 60px;
	border: 2px solid rgba(255,255,255,1);
	-webkit-box-shadow: -1px -1px 4px rgba(0, 0, 0, 0.85);
	-moz-box-shadow:    -1px -1px 4px rgba(0, 0, 0, 0.85);
	box-shadow:         -1px -1px 4px rgba(0, 0, 0, 0.85);

	-webkit-border-radius: 55px;
	-moz-border-radius: 55px;
	border-radius: 55px;
	z-index:999;

}
ul#thumb-list li img
{
	height: auto;
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	transition: all 0.2s ease;
	width: 60px;
	height: 60px;	
	-webkit-border-radius: 55px;
	-moz-border-radius: 55px;
	border-radius: 55px;
	opacity:1;

}
ul#thumb-list li.current-thumb img, ul#thumb-list li:hover img
{
	filter: alpha(opacity=100);
	ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	transition: all 0.2s ease;
}
ul#thumb-list li.current-thumb
{
	border: 2px solid rgba(255,255,255,1);
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	transition: all 0.2s ease;
}
ul#thumb-list li:hover
{
	border: 2px solid rgba(155,155,155,1);
	cursor: pointer;
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	transition: all 0.2s ease;
}